:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: #fdefee;
  font-family: 'Arial', sans-serif;
}

img {
  border-radius: 20px;
  height: 200px;
  width: 200px;
  animation: slide-in-top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s both;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ff4081;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d81b60;
}

.button-wrapper {
  display: flex;
  gap: 20px;
  animation: slide-in-bottom 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s both;
}

h1 {
  font-size: 2.5rem;
  color: #e94d6c;
  animation: slide-in-top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s both;
}

h2 {
  font-size: 2rem;
  color: #e94d6c;
  animation: slide-in-top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}